body,
html {
    margin: 0;
    padding-top: 30px;
    font-family: "Arial", sans-serif;
    font-size: 0.95em;
    text-align: center;
}

#chart {
    margin-top: 30px;
    background-color: #F5F2EB;
    border: 1px solid #CCC;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges
}

.gridline path,
.gridline line {
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
}

.stats {
    display: none
}

.axis-label {
    text-anchor: middle
}

.chart-header {
    font-size: 110%;
}