body,
html {
    margin: 0;
    padding-top: 10px;
    font-family: "Arial", sans-serif;
    font-size: 0.95em;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}

#chart {
    margin-top: 30px;
    background-color: #F5F2EB;
    border: 1px solid #CCC;
    box-shadow: 3px 3px 10px  rgb(141, 141, 141);
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges
}

.gridline path,
.gridline line {
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
}

.stats {
    display: none
}

.axis-label {
    text-anchor: middle
}

.chart-header {
    font-size: 110%;
    
}

.blaa {
    width: 100%;
    height: 100%;
    background-color: black;
}

.trendline {
    fill: none;
    stroke: #ccc;
    stroke-width: 4;
    opacity: 0.5
}
.Brian path {
    stroke: rgb(111, 238, 111)
}
.Byron path {
    stroke: rgb(241, 187, 85)
}
.Joe path {
    stroke: rgb(103, 103, 250)
}
.Eddie path {
    stroke: rgb(253, 131, 131)
}
.Minesota path {
    stroke: rgb(238, 117, 238)
}
#controls {
    margin: 30px;
}
.btn {
    padding: 10px;
    color: white;
    margin: 0 5px;
    box-shadow: 3px 3px 5px  rgb(141, 141, 141);
    outline: none;
    cursor: pointer;
    font-size: 110%
}
.switch {
    padding: 10px;
    box-shadow: 3px 3px 5px  rgb(141, 141, 141);
    outline: none;
    cursor: pointer;
}
